body {
	background-color: white;
}
a {
    color: #4D5256;
}
a:hover{
    text-decoration:none;
    color: #202020;
}

a:focus {
    text-decoration:none;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	color: red;
}
.container {
	margin-top: 80px;
}
.cell {
	border: solid 1px black;
	padding: 10px 0 3px 0;
	border-radius: 5px;
	margin-top: 5px;
}
.cell-title {
	margin-left: 80px;
}
.signup-link {
	margin-bottom: 8px;
}