{% extends 'base.html' %}
{% block container %}
<div class="col-md-6 col-md-offset-3">
    <form method="post">
        {% csrf_token %}
        <label class="label-title">
            主题标题
        </label>
        {{ form.title }}
        <label class="label-content">
            正文
        </label>
        {{ form.content }}
        <label class="label-node">
            节点
        </label>
        {{ form.node }}
        <input class="form-control btn btn-primary" type="submit" value="发布">
    </form>    
</div>
{% endblock %}