{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<style>
    .article-title {
        background-color: #FFFFFF;
        height: 50px;
        border-radius: 5px;
        text-align: left;
        padding-left: 10px;
        line-height: 50px;
        font-size: 18px;
    }
    .article-info {
        background-color: #FFFFFF;
        height: 20px;
        margin-top: 8px;
        border-radius: 5px;
        padding-left: 10px;
    }
    .user-avatar {
        width: 35px;
        height: 35px;
    }
</style>
{% endblock %}
{% block middle %}
    <div class="article-title">
        {{article.title}}
        {{ article.create_user.avatar }}
    </div>
    <div class="article-info">
        {{ article.create_user }}&nbsp;&nbsp;发表于&nbsp;&nbsp;{{ article.create_date }}
    </div>
    <div class="article-content">
        {{article.content}}
    </div>
    <div>
        {% for tag in tags %}
            {{tag}}
        {% endfor %}
    </div>
{% endblock %}