{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} {{ article.title }} {% endblock %}
{% block head %}
<style>
    .article-title {
        background-color: #FFFFFF;
        height: 50px;
        border-radius: 5px;
        text-align: left;
        padding-left: 10px;
        line-height: 50px;
        font-size: 18px;
    }
    .article-info {
        background-color: #FFFFFF;
        height: 20px;
        margin-top: 8px;
        border-radius: 5px;
        padding-left: 10px;
    }
    .user-avatar {
        width: 35px;
        height: 35px;
    }
    .article-content {
        margin-top: 8px;
        padding: 20px 10px 20px 10px;
        border-radius: 5px;
        background-color: #FFFFFF;
    }
    .comment .comment-head {
        margin-top: 20px;
    }
    .comment-list {
        margin-top: 15px;
    }
    .comment-list .comment-info {
        border-radius: 5px;
        background-color: #FFFFFF;
        height: 20px;
    }
    .comment-list .comment-content {
        padding: 5px 10px 5px 10px;
    }
</style>
{% endblock %}
{% block middle %}
    <div class="article-title">
        {{article.title}}
    </div>
    <div class="article-info">
        <a href="#">{{ article.create_user }}</a>&nbsp;&nbsp;发表于&nbsp;&nbsp;{{ article.create_date }}
    </div>
    <div class="article-content">
        {{ article.content|safe }}
    </div>

    <div class="comment-list">
        {% if comments %}
        {% for comment in comments %}
        <div>
             <div class="comment-info">
                <div class="col-md-10">
                    <a href="#">{{ comment.user }}</a>&nbsp;&nbsp;{{ comment.date }}
                </div>
                <div class="col-md-2 text-right">
                    {{ forloop.counter }}楼
                </div>
            </div>
            <div class="comment-content">
                {{ comment.comment|safe }}
            </div>           
        </div>
        {% endfor %}
        {% else %}
        <p>还没有人回复</p>
        {% endif %}
    </div>

    <div class="comment">
        <div class="comment-head">添加评论</div>
        <form method="post" action="/articles/add_comment">
            {% csrf_token %}
            <input type="text" name="article_id" value="{{ article.id }}" hidden="true" >
            <textarea id="comment-content" class="form-control" name="content"></textarea><br>
            <div class="form-group text-right">
                <input type="submit" value="回复" class="btn btn-primary">                
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(function(){
            $('.comment form').submit(function(){
                if ($('#comment-content').val() == ''){
                    alert('评论内容不能为空！');
                    return false;
                }
                return true;
            });
        })
    </script>
{% endblock %}

