{% extends 'base.html' %}
{% block title %}登录Fuck V2EX{% endblock %}
{%block username%}匿名用户{% endblock %}
{% block head %}
<style>
    .login-form {
        margin-top:100px;
    }
    .login-form input {
        width:300px;
        margin:0 auto;
    }

</style>
{% endblock %}
{% block middle %}
<form method="post" action="" class="login-form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter your nick email address" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Enter your password" required>
    </div>
    <div class="form-group">
        <input type="submit" class="form-control btn-primary" value="登录">
    </div>

</form>
{% endblock %}