{% extends 'base.html' %}
{% block title %}注册Fuck V2EX{% endblock%}
{% block container %}
<div class="col-lg-4 col-lg-offset-4">
	<div class="info-form">
		<form method="post" class="signup-form">
			{% csrf_token %}
			<div class="form-group">
				<label>邮箱</label>
				{{ form.email }}
			</div>
			<div>
				{{ form.email.errors }}
			</div>
			<div class="form-group">
				<label>用户名</label>
				{{ form.username }}
			</div>
			<div>
				{{ form.username.errors }}
			</div>
			<div class="form-group">
				<label>密码</label>
				{{ form.password1 }}
			</div>
			<div>{{ form.password1.errors }}</div>
			<div class="form-group">
				<label>确认密码</label>
				{{ form.password2 }}
			</div>
			<div>{{ form.password2.errors }}</div>	
		    <div class="form-group">
		        <input type="submit" class="form-control btn-primary" value="注册">
		    </div>
		</form>	
	</div>	
</div>
{% endblock %}