{% extends 'base.html' %}
{% block title %}登录Fuck V2EX{% endblock %}
{% block head %}
<style>
    .login-form {
        margin-top:100px;
    }
    .login-form input {
        width:300px;
        margin:0 auto;
    }

</style>
{% endblock %}
{% block middle %}
<form method="post"  class="login-form">
    {% csrf_token %}
    <div class="form-group">
        {{ form.username }}
    </div>
    <div>
        {{ form.username.errors }}
    </div>
    <div class="form-group">
        {{ form.password }}
    </div>
    <div>
        {{ form.password.errors }}
    </div>    
    <div class="form-group">
        <input type="submit" class="form-control btn-primary" value="登录">
    </div>
</form>
{% endblock %}